*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  background-color:rgb(56, 160, 163);
  height:100px;
  
}
body{
  background-color: rgb(200, 223, 223);
}
.logo{
  font-size: 40px;
  color: red;
}
.nav-item{
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}


.modal-result{
  height: 230px;
  width: 400px;
  display: flex;
  justify-content: center;
 align-items: center;
  margin-top: 20px;
  background-color:rgb(110, 219, 185);
   
}

.modal-content{
  margin: 30px;
  padding: 20px;
}
.modal-ui{
  display: flex;
  justify-content: center;
 align-items: center;
}
button {
  padding: 10px;
  font-size: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color:black;
   color:  white;
}
.input{
  padding: 10px;
  font-size: 20px;
} 
 .tasks{
 font-size: 30px;
 margin-left: 10px;
 margin-top: 20px;
 }